
            <div class="card card-register register-modal">
                <h3 class="title">Bienvenido!</h3>
                
                <img alt="Rounded Image" class="img-circle img-no-padding img-responsive img-register" src="assets/img/anonym-bw.png">
                
                <form class="register-form">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Email">

                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-danger btn-block btn-round btn-register">Entrar</button>
                </form>
                <div class="forgot">
                    <a href="#" class="btn btn-link rosa">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="forgot">
                    <a href="/login" class="btn btn-link ">Abrir en pantalla completa</a>
                </div>
            </div>
