<!-- IMAGEN SUPERIOR -->

<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">

      <!-- FOTO Y NOMBRE -->

      <div class="owner">
        <div class="avatar ">

          <img src="{{usuario.fotoPerfil}}" alt="Circle Image" class="img-circle img-responsive" style="width: 20vw; transition: .5s ease;"
            (error)="img.src = '../assets/img/anonym-bw.png'" #img>

        </div>
        <div class="name">
          <h4 class="title">
            {{usuario.nombre}} {{usuario.apellido}}
            <br />

          </h4>
          <h6>Pendientes</h6>
        </div>
      </div>

      <!-- TABS -->


      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <tabset #pTabs [justified]="true">
            <!--INICIO PUNTUACIONES PENDIENTES-->
            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Calificaciones Pendientes</span>
              </ng-template>
              <!-- TITULO PUNTUACIONES PENDIENTES -->
              <span class="title">
                Calificaciones Pendientes
              </span>
              <!-- CUERPO PUNTUACIONES PENDIENTES -->
              <span *ngFor="let calificacion of calificacionesPendientes">
                  <app-contenedorPuntuacion [calificacion]="calificacion" (refresh)="getCalificacionesPendientes()">
                  </app-contenedorPuntuacion>
                </span>
                <span *ngIf="calificacionesPendientes.length === 0">
                  <h4 class="rosa">No tienes calificaciones pendientes.</h4>
                </span>
            </tab>
            <!-- INICIO PREG PENDIENTES -->
            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Preguntas Pendientes</span>
              </ng-template>
              <!-- TITULO PREGPENDIENTES -->
              <span class="title">
                Preguntas Pendientes
              </span>
              <!-- CUERPO PREG PENDIENTES -->
              <span *ngFor="let pregunta of preguntasPendientes">
                  <app-contenedorPregunta [pregunta]="pregunta" [mostrarViaje]="true" (refresh)="getPreguntasPendientes()">
                  </app-contenedorPregunta>
                </span>
                <span *ngIf="preguntasPendientes.length === 0">
                  <h4 class="rosa">No tienes preguntas pendientes.</h4>
                </span>
            </tab>
            <!-- FIN PREG PENDIENTES -->

            <!-- INICIO PAGOS PENDIENTES -->
            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Pagos pendientes</span>
              </ng-template>
              <!-- TITULO PAGOS PENDIENTES -->
              <span class="title">
                Pagos Pendientes
              </span>
              <!-- CUERPO PAGOS PENDIENTES-->
              <span *ngFor="let pago of pagosPendientes">
                  <app-contenedorPago [pago]="pago" (refresh)="getPagosPendientes()">
                  </app-contenedorPago>
                </span>
                <span *ngIf="pagosPendientes.length === 0">
                  <h4 class="rosa">No tienes pagos pendientes.</h4>
                </span>
            </tab>
            <!-- FIN PAGOS PENDIENTES -->

          </tabset>

        </div>
      </div>
    </div>
  </div>
</div>