.btn-pink{
    background-color: white;
    border-color: #f17376;
    color: #f17376;
}
.btn-pink:hover{
    background-color: #f17376;
    border-color: #f17376;
    color: white;
}
.btn-rellenopink{
    background-color: #f17376;
    color: white;
    border-color: white;
}
.btn-rellenopink:hover{
    background-color: white;
    color: #f17376;
    border-color: white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #f17376;
    cursor: pointer;
  }

  .middle a{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #f17376;
    cursor: pointer;
  }

  .avatar {
    position: relative;
  }
  .avatar:hover .img-circle {
    opacity: 0.5;
  }
  
  .avatar:hover .middle {
    opacity: 1;
  }

  .hidden {
    opacity: 0;
  }






  
/* MODAL */

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-header button.close {
    margin-top: 0;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-body h1, .modal-body h2, .modal-body h3, .modal-body h4 {
    margin: 0;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.btn-rosa {
    background-color: #f17376;
    border-color: #f17376;
    color: #FFFFFF;
}

.btn-default {
    background-color: #66615B;
    border-color: #66615B;
    color: #FFFFFF;
}

.form-control:focus {
    background-color: #FFFFFF;
    border: 1px solid #f17376;
    box-shadow: none;
    outline: 0 !important;
}

