<!-- IMAGEN SUPERIOR -->

<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">

      <!-- FOTO Y NOMBRE -->

      <div class="owner">
        <div class="avatar ">
          <div class="img-hover-content">
            <img src="{{usuario.fotoPerfil}}" alt="Circle Image" class="img-circle img-responsive" style="width: 20vw; transition: .5s ease;"
              (error)="img.src = '../assets/img/anonym-bw.png'" #img>
            <div class="middle" (click)="abrirModalFoto(cargarFoto)">
              Cambiar Foto
            </div>
          </div>
        </div>
        <div class="name">
          <h4 class="title">
            {{usuario.nombre}} {{usuario.apellido}}
            <br />
            <a routerLink="/editar" routerLinkActive="active" class="btn btn-link link-rosa">Editar perfil</a>
          </h4>
        </div>
      </div>

      <!-- TABS -->


      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <tabset #perfilTabs [justified]="true">

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Inicio</span>
              </ng-template>

              <p>
                <span class="link-rosa">Fecha de nacimiento: </span>
                <span>{{usuario.fechaDeNacimiento | date:'dd-MM-yyyy'}}</span>
              </p>
              <br>
              <p>
                <span class="link-rosa">Email: </span>
                <span>{{usuario.email}}</span>
              </p>


            </tab>
            <!-- INICIO HISTORIAL -->

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Historial De Viajes</span>
              </ng-template>

              <!-- TITULO HISTORIAL -->
              <span class="title">
                Mi historial de viajes
              </span>

              <!-- CUERPO HISTORIAL -->


              <span *ngFor="let viaje of viajes">
                <app-contenedorViajePerfil [viaje]="viaje">
                </app-contenedorViajePerfil>
              </span>
              <span *ngIf="viajes.length === 0">
                <h4 class="rosa">No tienes viajes en tu historial.</h4>
              </span>


            </tab>

            <!-- FIN HISTORIAL -->

            <!-- INICIO VEHICULOS -->

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Mis vehiculos</span>
              </ng-template>

              <!-- TITULO VEHICULOS -->
              <span class="title">
                Mis vehiculos disponibles
                <button *ngIf="!mostrarFormularioVehiculos && !mostrarFormularioEditarVehiculos" class="btn btn-round btn-rosa" (click)="mostrarFormularioVehiculos = true">Agregar</button>
                <button *ngIf="mostrarFormularioVehiculos" class="btn btn-round btn-default" (click)="mostrarFormularioVehiculos = false">Volver</button>
                <button *ngIf="mostrarFormularioEditarVehiculos" class="btn btn-round btn-default" (click)="mostrarFormularioEditarVehiculos = false">Volver</button>
              </span>

              <!-- CUERPO VEHICULOS -->
              <span *ngIf="!mostrarFormularioVehiculos && !mostrarFormularioEditarVehiculos">

                <span *ngFor="let vehiculo of vehiculos">
                  <app-contenedorvehiculo [vehiculo]="vehiculo" (refresh)="getVehiculos()" (edit)="returnToEdit($event)">
                  </app-contenedorvehiculo>
                </span>
                <span *ngIf="vehiculos.length === 0">
                  <h4 class="rosa">No tienes vehiculos registrados en el sistema.</h4>
                </span>
              </span>

              <span *ngIf="mostrarFormularioVehiculos">
                <app-formulariovehiculos (releaseControl)="ocultarFormVehiculos()">
                </app-formulariovehiculos>
              </span>

              <span *ngIf="mostrarFormularioEditarVehiculos">
                <app-editarvehiculos [vehiculo]="vehiculoForEdit" (event)="ocultarFormEditarVehiculos()">
                </app-editarvehiculos>
              </span>

            </tab>

            <!-- FIN VEHICULOS -->

            <!-- INICIO TARJETAS -->

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Mis tarjetas</span>
              </ng-template>

              <!-- TITULO TARJETAS -->
              <span class="title">
                Mis tarjetas disponibles
                <button *ngIf="!mostrarFormularioTarjetas" class="btn btn-round btn-rosa" (click)="mostrarFormularioTarjetas = true">Agregar</button>
                <button *ngIf="mostrarFormularioTarjetas" class="btn btn-round btn-default" (click)="mostrarFormularioTarjetas = false">Volver</button>
              </span>

              <!-- CUERPO TARJETAS -->
              <span *ngIf="!mostrarFormularioTarjetas">

                <span *ngFor="let tarjeta of tarjetas">
                  <app-contenedortarjeta [tarjeta]="tarjeta" (refresh)="getTarjetas()">
                  </app-contenedortarjeta>
                </span>
                <span *ngIf="tarjetas.length === 0">
                  <h4 class="rosa">No tienes tarjetas registradas en el sistema.</h4>
                </span>

              </span>

              <span *ngIf="mostrarFormularioTarjetas">
                <app-formulariotarjetas (releaseControl)="ocultarFormTarjetas()">
                </app-formulariotarjetas>
              </span>

            </tab>

            <!-- FIN TARJETAS -->


            <!-- INICIO REPUTACION -->

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Mi reputación como viajero</span>
              </ng-template>

              <!-- TITULO REPUTACION -->
              <span class="title">
                Mi historial de calificaciones como viajero
              </span>
              <app-contenedorReputacion [tipo]="'viajero'"></app-contenedorReputacion>
              <!-- CUERPO REPUTACION-->
              <span *ngFor="let calificacion of calificacionesViajero">
                <app-contenedorcomentario [calificacion]="calificacion">
                </app-contenedorcomentario>
              </span>
              <span *ngIf="calificacionesViajero.length === 0">
                <h4 class="rosa">No tienes calificaciones previas.</h4>
              </span>


            </tab>

            <!-- FIN REPUTACION -->

            <!-- INICIO REPUTACION -->

            <tab>
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Mi reputación como conductor</span>
              </ng-template>

              <!-- TITULO REPUTACION -->
              <span class="title">
                Mi historial de calificaciones como conductor
              </span>
              <app-contenedorReputacion [tipo]="'conductor'"></app-contenedorReputacion>
              <!-- CUERPO REPUTACION-->
              <span *ngFor="let calificacion of calificacionesConductor">
                <app-contenedorcomentario [calificacion]="calificacion">
                </app-contenedorcomentario>
              </span>
              <span *ngIf="calificacionesConductor.length === 0">
                <h4 class="rosa">No tienes calificaciones previas.</h4>
              </span>


            </tab>

            <!-- FIN REPUTACION -->

          </tabset>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargarFoto let-c="close" let-d="dismiss">
  <form class="contact100-form validate-form flex-sb flex-w" name="form" (ngSubmit)="f.form.valid && c('Close click')" #f="ngForm"
    novalidate>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Ingrese el URL de la foto</p>

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !urlFotoId.valid }">
        <input class="form-control" type="text" name="urlFoto" placeholder="Ingrese el url" [(ngModel)]="urlFoto" #urlFotoId="ngModel"
          required>
        <span class="focus-input100"></span>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-rosa" (click)="cambiarFoto()">Guardar foto</button>
      <button type="button" class="btn btn-default" (click)="c('Close click')">Cancelar</button>
    </div>
  </form>

</ng-template>