<div class="wrapper">
  <div class="page-header">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register card-grey">
            <h6 class="title title-pink">Cambiar Contraseña</h6>
            <form class="register-form" name="form" (ngSubmit)="f.form.valid && contraseniasValidas()" #f="ngForm">
              <div class="form-group" [ngClass]="{'has-danger': f.submitted && !cactual.valid}">
                <label>Contraseña Actual</label>
                <input type="password" class="form-control" name="cactual" placeholder="Contraseña Actual" required />
                <div *ngIf="f.submitted && !cactual.valid" class="form-control-feedback">Se requiere contraseña</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !cnueva.valid }">
                <label>Nueva Contraseña</label>
                <input type="password" class="form-control" name="cnueva" placeholder="Nueva Contraseña" required />
                <div *ngIf="f.submitted && !cnueva.valid" class="form-control-feedback">Se requiere nueva contraseña</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !cconfirmada.valid }">
                <label>Confirme Contraseña</label>
                <input type="password" class="form-control" name="cconfirmada" placeholder="Confirme Contraseña" required />
                <div *ngIf="f.submitted && !cconfirmada.valid" class="form-control-feedback">Se requiere confirmar contraseña</div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block btn-round btn-register btn-pink">Cambiar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>