<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Contactate con Nosotros</h2>
        </div>
      </div>
      <br />
      <br />
      <p>Por favor completa el siguiente formulario para contactarte con nosotros. Te responderemos a la brevedad.
        <br>
      </p>
     <form>
        <div class="col-md-6">
            <div class="form-group">
              <label>Ingrese su email:</label>
              <input type="text" class="form-control" placeholder="Ingrese su email">
            </div>
            <div class="form-group">
                <label>Ingrese su consulta:</label>
                <textarea class="form-control" rows="4" placeholder="Ingrese su consulta"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-round btn-rosa" >Enviar</button>
            </div>
        </div>
     </form>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>