<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Contactate con Nosotros</h2>
        </div>
      </div>
      <br />
      <br />
      <p>Por favor completa el siguiente formulario para contactarte con nosotros. Te responderemos a la brevedad.
        <br>
      </p>
      <form name="form" #f="ngForm"
      (ngSubmit)="f.form.valid && send()">
        <div class="col-md-6">

          <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && (!email.valid)}">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="mail" #email="ngModel" required />
                <div *ngIf="f.submitted && !email.valid" class="form-control-feedback">Ingrese su email</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && (!descripcion.valid)}">
                <label>Consulta:</label>
                <textarea  name="descripcion" class="form-control" [(ngModel)]="desc" #descripcion="ngModel" required></textarea>
                <div *ngIf="f.submitted && !descripcion.valid" class="form-control-feedback">Ingrese una consulta</div>
            </div>
            <div class="form-group">
                <button class="btn btn-round btn-rosa" >Enviar</button>
            </div>

        </div>
     </form>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>