<footer class="footer">
    <div class="container">
        <div class="row separador-abajo">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a class="nav-link" title="Sobre Nosotros" routerLink="/sobreNosotros" routerLinkActive="active">
                            Sobre Nosotros
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" title="contacto" routerLink="/contacto" routerLinkActive="active">
                            Contactanos
                        </a>
                    </li>
                    <li>
                            <a class="nav-link" title="preguntas" routerLink="/preguntas" routerLinkActive="active">
                                Preguntas frecuentes
                            </a>
                        </li>
                </ul>
            </nav>
        </div>
        <div class="row copyright">
            Copyright Un Aventon. Todos los derechos reservados. Web desarrollada por GMAsoft
        </div>
    </div>
</footer>