    <div class="trip">
        <div class="panel panel-default panel-card card card-trip">
            <div class="panel-heading card_heading">
                <div class="panel-title card-trip_title row">
                    <div class="card-icon">
                        <span class="trip_visibility">
                            <span title="Visilidad: Público">
                                <span title="Visibilidad: Público" data-tooltip="Público" class="tooltip-bottom">
                                    <i aria-hidden="true" class="fa fa-globe"></i>
                                </span>
                            </span>
                        </span>
                    </div>
                    <!---->
                </div>
            </div>
            <div class="panel-body card_body">
                <div class="trip_location">
                    <div class="row trip_location_from">
                        <div class="col-xs-4 text-right">
                            <i aria-hidden="true" class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-xs-20">
                            <span class="trip_location_from_city">Córdoba</span>
                            <span class="trip_location_from_state-country">Córdoba</span>
                        </div>
                    </div>
                    <div class="row trip_location_to">
                        <div class="col-xs-4 text-right">
                            <i aria-hidden="true" class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-xs-20">
                            <span class="trip_location_from_city">Buenos Aires</span>
                            <span class="trip_location_from_state-country">CABA</span>
                        </div>
                    </div>
                    <div class="col-xs-4 trip_location-dot-line">
                        <div></div>
                    </div>
                </div>
                <div class="row">
                    <time datetime="2018-05-20 18:30:00" class="trip_datetime col-xs-24">
                        <div class="row">
                            <div class="col-xs-14 trip_datetime_date">
                                <span class="trip_datetime_date_day">
                                    <span style="text-transform: uppercase;">dom.</span>
                                    20 mayo
                                </span>
                                <br>
                                <span class="trip_datetime_date_year">2018</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="trip_datetime_time">18:30 hs</span>
                            </div>
                        </div>
                    </time>
                </div>
                <div class="row">
                    <div class="trip_seats-available col-xs-offset-2 col-xs-12">
                        <span class="trip_seats-available_value pull-left">2</span>
                        <span class="trip_seats-available_label">
                            <span>Lugares</span>
                            <span>libres</span>
                        </span>
                    </div>
                    <div class="trip_actions col-xs-10">
                        <div class="btn btn-default btn-lg btn-trip-detail">Ver</div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>