
.btn.btn-link.link-rosa {
    color: #f17376 !important;
  }
.btn.btn-link.link-rosa:hover {
    color: #f04649 !important;
  }
.btn-rosa{
  background-color: #f17376;
  color:white;
}
.line{ 
  display:block;
  border:none;
  color:white;
  height:1px;
  background:#f17376;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#f17376), to(#fff));
}

div.cont-line{
  margin-top:2em;
  margin-bottom:2em;
}