<div class="col-md-12 ml-auto mr-auto">
  <div class="row">
    <div class="col-md-2">
      <div>
        Dia y hora de viaje
      </div>
    </div>
    <div class="col-md-6">
      <div class="rosa"> origen</div>
      <div class="rosa">destino</div>
    </div>
    <div class="col-md-2">
      <p>monto a pagar</p>
    </div>
    <div class="col-md-2">
      <div class="middle" (click)="abrirModalPagar(pagar)">
        <button class="btn btn-round btn-rosa"> Pagar</button>
      </div>
    </div>
  </div>
</div>
<div class="cont-line">
  <span class="line"></span>
</div>

<!--Modal Puntuar-->
<ng-template #pagar let-c="close" let-d="dismiss">
  <form class="contact100-form validate-form flex-sb flex-w" name="form" (ngSubmit)="f.form.valid && c('Close click')" #f="ngForm"
    novalidate>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Seleccione su tarjeta</p>
      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !tarjeta.valid }">        
        <div class="wrap-input100 rs1 validate-input">
          <select class="input100" name="tarjeta"  [ngClass]="{ 'has-danger': f.submitted && !tarjeta.valid }"
            required >
            <option>tarjeta 1</option>
            <option>tarjeta 2</option>
          </select>
          <span class="focus-input100"></span>
          
        </div>
        <span>Ingrese su código de seguridad:</span>
        <input class="form-control" type="password" name="urlFoto" placeholder="Ingrese su código de seguridad" [(ngModel)]="urlFoto" #urlFotoId="ngModel"
          required>
        <span class="focus-input100"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-rosa" (click)="cambiarFoto()">Aceptar</button>
      <button type="button" class="btn btn-default" (click)="c('Close click')">Cancelar</button>
    </div>
  </form>

</ng-template>