<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 mr-auto ml-auto">
                    <div class="card card-register no-width">
                        <div class="separador-abajo">
                            <h2 class="title">Registrarse</h2>
                        </div>
                        <form class="register-form">
                            <div class="col-lg-8 col-sm-8 mr-auto ml-auto">
                                <label>Nombre:</label>
                                <input type="text" class="form-control">
                                <label>Apellido:</label>
                                <input type="text" class="form-control">
                                <label>Fecha de Nacimiento:</label>
                                <input type="date" class="form-control">
                                <label>Email:</label>
                                <input type="text" class="form-control">
                                <label>Contraseña</label>
                                <input type="password" class="form-control">
                                <label>Repetir Contraseña</label>
                                <input type="password" class="form-control">

                                <button class="btn btn-danger btn-block btn-round btn-register mr-auto ml-auto">Crear cuenta</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>