<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate" style="flex-basis: 100%;">
            <a href="/home">
                <img src="assets/img/logo.png" alt style="width:40px;" /> </a>
            <a class="navbar-brand" href="/home">Un Aventon</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        Home
                    </a>
                </li>
                <li class="nav-item" *ngIf="!authGuard.isLogued();">
                    <a class="nav-link" href="/registrarse">
                        Registrarse
                    </a>
                </li>
                <li class="nav-item" *ngIf="!authGuard.isLogued();">
                    <a class="nav-link" (click)="open()">
                        Iniciar Sesion
                    </a>
                </li>
                <li class="nav-item" *ngIf="authGuard.isLogued();">
                    <div class="dropdown" ngbDropdown>
                        <a aria-haspopup="true" class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle aria-expanded="false">
                            <i aria-hidden="true" class="nc-icon nc-single-02"></i>
                            {{usuario.nombre}}
                        </a>
                        
                        <div aria-labelledby="userDropdown" class="dropdown-rosa dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                            <a class="dropdown-item" href="/perfil">Ver perfil</a>
                            <a class="dropdown-item" href="/editar">Editar perfil</a>
                            <a class="dropdown-item" href="/cambiarcontra">Cambiar Contraseña</a>
                            <a class="dropdown-item" href="/registrarvehiculo">Vehiculos</a>
                            <!-- <a class="dropdown-item">Puntuaciones Pendientes</a>
                            <a class="dropdown-item">Preguntas Pendientes</a>
                            <a class="dropdown-item">Pagos Pendientes</a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logoutModal(CerrarSesionModal)">Cerrar sesion</a>
                            <!-- <a class="dropdown-item" (click)="eliminarCuentaModal(borrarCuentaModal)">Eliminar cuenta</a> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-alertas></app-alertas>
</nav>

<!-- MODALS -->

<ng-template #CerrarSesionModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h4><strong>¿Deseas cerrar sesión?</strong></h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="logout();c('Close click')">Cerrar sesion</button>
            <button type="button" class="btn btn-rosa" (click)="c('Close click')">Cancelar</button>
        </div>
    </ng-template>

<app-regmodal></app-regmodal>