<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Sobre Nosotros</h2>
        </div>
      </div>
      <br />
      <br />
      <p>UnAventon es una aplicación para conectar conductores con pasajeros para viajar en vehículos compartidos.
        <br> Su creador Paolo Biteroti, decidió iniciar el proyecto de esta aplicación llamada por la necesidad de reducir costos
        de viajes, hacer amigos, mejorar la calidad de los viajes y reducir el tráfico y la contaminación ambiental.
        <br> UnAventon es referente del “Consumo Colaborativo” en movilidad, movimiento cada vez más presente por el cambio de
        mentalidad respecto a los hábitos de consumo.
        <br> La aplicación pone en contacto a personas que quieren realizar un trayecto común y coinciden para hacerlo el mismo
        día compartiendo los gastos.
        <br> Para lograrlo, UnAventon recomienda en la plataforma una aportación por usuario y viaje en base a los gastos inherentes
        a la conducción (gasolina, peaje, mantenimiento, seguros, impuestos, etc.) y limita la aportación máxima que pueden
        solicitar los conductores de tal manera que no se superen estos gastos.
        <br> Presente en Argentina desde enero de 2010, UnAventon es la mayor aplicación de viajes de larga distancia en vehículo
        compartido con más de 65 mil usuarios en el país. En un futuro, se extenderá al resto de los países del Latinoamérica.
        <br> La práctica de compartir viajes genera un beneficio económico para los viajeros y un impacto ambiental positivo cuando dos conductores de automóviles
        que habitualmente viajan en autos separados deciden unirse y viajar en un mismo vehículo dejando el otro guardado
        en el garage. Si esto se hace habitual en las personas podríamos reducir la cantidad de autos circulantes y así disminuir
        también el tiempo de viaje, las emisiones de gases de efecto invernadero, el consumo de combustibles fósiles (recursos
        no renovables), el smog y la contaminación sonora que provocan los vehículos, entre otros beneficios.<br>
        Otro impacto positivo de UnAventon es reforzar los lazos sociales. Al compartir un viaje, personas que muchas veces no se 
        conocían entre sí, generan un vínculo a través de las charlas del viaje. Surgiendo posibilidades de trabajo y nuevos
        contactos, intercambiando puntos de vista sobre distintos temas, generando confianza entre la gente, formando hasta
         un sentimiento de “comunidad UnAventon”. Esto va logrando un cambio cultural frente a las personas desconocidas,
          además de viajes mucho más entretenidos y divertidos. </p> 

      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>