<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Sobre Nosotros</h2>
        </div>
      </div>
      <br />
      <br />
      <p>UnAventon es una aplicación para conectar conductores con pasajeros para viajar en vehículos compartidos.<br>
        UnAventon es referente del “Consumo Colaborativo” en movilidad, movimiento cada vez más presente
         por el cambio de mentalidad respecto a los hábitos de consumo. Esta pone en contacto a personas que quieren realizar 
         un trayecto común y coinciden para hacerlo el mismo día compartiendo los gastos.<br>
          Para lograrlo, UnAventon recomienda en la plataforma una aportación por usuario y
           viaje en base a los gastos inherentes a la conducción (gasolina, peaje, mantenimiento, seguros, impuestos, etc.) 
           y limita la aportación máxima que pueden solicitar los conductores de tal manera que no se superen estos gastos.</p>

      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
             <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>