<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h2>¿Buscas un viaje?</h2>
            <h4>Viaja de forma segura y económica</h4>
            <br />
            <app-buscador></app-buscador>
        </div>

    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">¿Cómo Funciona?</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-single-02 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title title-link-rosa">
                                <a routerLink="/registrarse" routerLinkActive="active" class="title-link-rosa">Registrate</a>
                            </h4>
                            <p class="description">Registrandote podrás acceder a todas las funcionalidades de la aplicación. Simplemente completá
                                el formulario con tus datos y listo. Fácil y rápido.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-pin-3 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title title-link-rosa">
                                <a class="title-link-rosa">Busca tu viaje</a>
                            </h4>
                            <p>Ingresando el lugar de salida, de llegada y la fecha podés acceder a la lista de viajes ofrecidos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-tap-01 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Reserva tu lugar</h4>
                            <p>Entre las opciones que dispongas, reservá el lugar que más te guste y contactate con el conductor
                                para coordinar los detalles del viaje.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-satisfied icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Disfruta tu viaje</h4>
                            <p>Hacé la valija y preparate para disfrutar de un viaje perfecto.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <h2 class="title">Ultimos viajes</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="viajes.length >= 1">
                    <app-contenedorviaje [viaje]="viajes[0]"></app-contenedorviaje>
                </div>
                <div class="col-md-3" *ngIf="viajes.length >= 2">
                    <app-contenedorviaje [viaje]="viajes[1]"></app-contenedorviaje>
                </div>
                <div class="col-md-3" *ngIf="viajes.length >= 3">
                    <app-contenedorviaje [viaje]="viajes[2]"></app-contenedorviaje>
                </div>
                <div class="col-md-3" *ngIf="viajes.length >= 4">
                    <app-contenedorviaje [viaje]="viajes[3]"></app-contenedorviaje>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <button class="btn btn-round btn-rosa" routerLink="/verViajes" routerLinkActive="active">Ver mas</button>
                </div>

            </div>

        </div>
    </div>
    <div class="section section-pink">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <p style="font-size: 2vw;"> Ahorras dinero
                        <br> y haces amigos </p>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 2vw;">Se mejora la calidad
                        <br> del viaje</p>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 2vw;">Se reduce el tráfico
                        <br>y la contaminación
                        <br>ambiental</p>
                </div>
            </div>
        </div>

    </div>
</div>