<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h2>¿Buscas un viaje?</h2>
            <h4>Viaja de forma segura y económica</h4>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">¿Cómo Funciona?</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-single-02 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title title-link-rosa">
                                <a href="/registrarse" class="title-link-rosa">Registrate</a>
                            </h4>
                            <p class="description">Registrandote podrás acceder a todas las funcionalidades de la aplicación. Simplemente completá
                                el formulario con tus datos y listo. Fácil y rápido.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-pin-3 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title title-link-rosa">
                                <a href="" class="title-link-rosa">Busca tu viaje</a>
                            </h4>
                            <p>Ingresando el lugar de salida, de llegada y la fecha podés acceder a la lista de viajes ofrecidos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-tap-01 icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Reserva tu lugar</h4>
                            <p>Entre las opciones que dispongas, reservá el lugar que más te guste y contactate con el conductor
                                para coordinar los detalles del viaje.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon">
                            <i class="nc-icon nc-satisfied icon-rosa"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Disfruta tu viaje</h4>
                            <p>Hacé la valija y preparate para disfrutar de un viaje perfecto.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-grey text-center">
        <div class="container">
            <h2 class="title">Ultimos viajes</h2>
            <div class="row">
                <div class="col-md-3">
                    <app-contenedorViaje></app-contenedorViaje>
                </div>
                <div class="col-md-3">
                    <app-contenedorViaje></app-contenedorViaje>
                </div>
                <div class="col-md-3">
                    <app-contenedorViaje></app-contenedorViaje>
                </div>
                <div class="col-md-3">
                    <app-contenedorViaje></app-contenedorViaje>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>