h1 {
    font-size: 3.6vw;
}
.title-link-rosa:hover{
    color: #f17376;
}
.icon-rosa{
    color: #f17376;
}
.section-grey{
    background-color: #ebebeb;
}
.section-pink{
    background-color: #f17376;
    max-height: 22vw;
    padding: 3vw 0;
}
.col-md-4 p{
    font-size: 2.2vw;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-rosa {
    background-color: #f17376;
    border-color: #f17376;
    color: #FFFFFF;
    width: 200px;
    font-size: 15px;
    height: 50px;
}

.btn-rosa:hover {
    background-color: #ec4b4e;
    border-color: #ec4b4e;
}
