<div class="trip trip-with-driver" [ngClass]="{'trip-mostly-available': (lugaresDisponibles > 2) ,'trip-almost-fill': (lugaresDisponibles < 3), 'trip-fill': (lugaresDisponibles === 0) }">
    <div class="panel panel-default panel-card card card-trip">
        <div class="panel-heading card_heading">
            <div class="panel-title card-trip_title row">
                <div class="trip_driver_img_container">
                    <div class="trip_driver_img circle-box">
                        <a routerLink="/verPerfilOtro" routerLinkActive="active" [queryParams]="{id: viaje.creador.id}"> <img src="{{viaje.creador.fotoPerfil}}" alt="Circle Image" class="img-circle img-no-padding img-responsive"
                            (error)="img.src = '../assets/img/anonym-bw.png'" #img> </a>
                    </div>
                </div>
                <div class="trip_driver_details">
                    <div class="trip_driver_name">
                        {{viaje.creador.nombre + " " + viaje.creador.apellido}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body card_body">
            <div class="trip_location">
                <div class="row trip_location_from">
                    <div class="col-xs-4 text-right">
                        <i aria-hidden="true" class="fa fa-map-marker"></i>
                    </div>
                    <div class="col-xs-20">
                        <span class="trip_location_from_city">{{ciudadOrigen}}</span>
                        <span class="trip_location_from_state-country">{{provinciaOrigen}}</span>
                    </div>
                </div>
                <div class="row trip_location_to">
                    <div class="col-xs-4 text-right">
                        <i aria-hidden="true" class="fa fa-map-marker"></i>
                    </div>
                    <div class="col-xs-20">
                        <span class="trip_location_from_city">{{ciudadDestino}}</span>
                        <span class="trip_location_from_state-country">{{provinciaDestino}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <time class="trip_datetime col-xs-24">
                    <div class="row">
                        <div class="col-xs-14 trip_datetime_date">
                            <span class="trip_datetime_date_day" *ngIf="viaje.diasDeViaje.length === 1">
                                {{viaje.diasDeViaje[0] | date:'dd-MM-yyyy' }}
                            </span>
                            <span class="trip_datetime_date_day" *ngIf="viaje.diasDeViaje.length > 1">
                                Pack de viajes
                            </span>
                        </div>
                        <div class="col-xs-10">
                            <span class="trip_datetime_time">{{viaje.horaPartida[0] + ':' + viaje.horaPartida[1]}} hs</span>
                        </div>
                    </div>
                </time>
            </div>
            <div class="row">
                <div class="trip_seats-available col-xs-offset-2 col-xs-12">
                    <span class="trip_seats-available_value pull-left" [ngClass]="{'pink': (lugaresDisponibles === 0)}">{{lugaresDisponibles}}</span>
                    <span class="trip_seats-available_label" [ngClass]="{'pink': (lugaresDisponibles === 0)}">
                        <span>Lugares</span>
                        <span>libres</span>
                    </span>
                </div>
                <div class="trip_actions col-xs-10">
                    <button class="btn btn-default btn-lg btn-trip-detail" [ngClass]="{'btn-trip-pink': (lugaresDisponibles === 0)}" (click)="verViaje()">Ver</button>
                </div>
            </div>

        </div>
    </div>
</div>



