
  <div class="row">
    <div class="col-md-2 ">
      Usuario
    </div>
    <div class="col-md-2">
      Origen-Destino
    </div>
    <div class="col-md-2">
      Hora Partida
    </div> 
    <br> 
  </div>
  <div class="row">
    <div class="icon">    
      <i class="nc-icon nc-chat-33 icon-rosa"></i> ¿Se puede escuchar música durante el viaje ? <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" rows="2" cols="4" placeholder="Ingrese su pregunta"></textarea>
    </div>
    <div class="col-md-2">
      <button class="btn btn-round btn-rosa"> Responder</button>
    </div>
  </div>

<div class="cont-line">
  <span class="line"></span>
</div>