<form name="home_search" id="home_search" method="post" action="//jumpin.com.ar/index.php?file=c-ride_list">

    <div class="header-up-bg form-group">
        <div class="row">
            <div class="col-md-3">

                    <input class="form-control" placeholder="Default" type="text">

            </div>

            <div class="col-md-1">
                    <a href="javascript:void(0)" onclick="swapaddress();">
                        <img src="//jumpin.com.ar/public_html/images/swap.png" style="width:30px;height:30px;">
                    </a>
                </div>

            <div class="col-md-3">

                    <input class="form-control" placeholder="Default" type="text">

            </div>
            <div class="col-md-3">

                    <input class="form-control" placeholder="Default" type="date">

            </div>
            <div class="col-md-2">
                    <button class="btn btn-danger btn-round btn-pink" disabled="true">Buscar</button>
                </div>
        </div>
    </div>
</form>