<form name="home_search" id="home_search" method="post">

    <div class="header-up-bg form-group">
        <div class="row">
            <div class="col-md-3">

                    <input class="form-control" placeholder="Origen" type="text">

            </div>

            <div class="col-md-1">
                    <a href="javascript:void(0)">
                        <img src="//jumpin.com.ar/public_html/images/swap.png" style="width:30px;height:30px;">
                    </a>
                </div>

            <div class="col-md-3">

                    <input class="form-control" placeholder="Destino" type="text">

            </div>
            <div class="col-md-3">

                    <input class="form-control" placeholder="" type="date">

            </div>
            <div class="col-md-2">
                    <button class="btn btn-danger btn-round btn-pink" disabled="true">Buscar</button>
                </div>
        </div>
    </div>
</form>