<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Sección de Ayuda</h2>
        </div>
      </div>
      <br />
      <br />
      <p class="blockquote">¿Cómo Funciona?</p>
      <p>Es muy simple! Los conductores publican los lugares disponibles que tienen en su auto y los pasajeros que estén interesados
        pueden reservarlos.
        <br> Registrandote podrás acceder a todas las funcionalidades de la aplicación. Simplemente completá el formulario con
        tus datos y listo.
        <br> Busca tu viaje ingresando el lugar de salida, de llegada y la fecha podés acceder a la lista de viajes ofrecidos.
        <br> Elegí entre las opciones que dispongas, reservá el lugar que más te guste y contactate con el conductor para coordinar
        los detalles del viaje.
        <br>
      </p>
      <p class="blockquote">Preguntas Frecuentes</p>
      <p class="text-rosa">¿Cómo me registro?</p>
      <p>Ingresa a la opción "Registrarse" que se encuentra en el menú superior, completa el formulario con los campos requeridos
        y ya estás en condiciones de utilizar la aplicación. Es fácil y rápido.</p>
      <p class="text-rosa">¿Cómo me contacto con la administración del sitio web?</p>
      <p> Selecciona la opcion "Contactanos" del menú inferior del sitio web, verás el formulario para poder contactarse con
        la administración.
      </p>
      <p class="text-rosa">¿Cómo buscar un viaje?</p>
      <p>Solo tenés que utilizar el buscador disponible en la página de inicio. Introduce origen y destino, luego hace click
        en “Buscar” y se mostrarán automáticamente todos los viajes que los conductores hayan publicado.
      </p>
      <p class="text-rosa">¿Crear una cuenta es obligatorio para utilizar la aplicación?</p>
      <p>Tener un Usuario en UnAventon te permite publicar viajes y también postularte como acompañante en algún viaje ofrecido.
        Registrarte es totalmente gratis.</p>
      <p class="text-rosa">¿Qué condiciones son necesarias para ofrecer un viaje?</p>
      <p>Para ofrecer un viaje sólo necesitas tener tu vehículo registrado en el sistema y no poseer puntuaciones, pagos pendientes </p>
      <p class="text-rosa">¿Cómo cargo mi vehículo en el sistema?</p>
      <p>Para cargar tu vehículo primero debes tener una cuenta en el sistema. Luego, selecciona la opción Vehículos del menú para usuarios
        logueados y elige la opción Agregar, completa los datos solicitados y listo.
      </p>
      <p class="text-rosa">¿Cómo ofrecer un viaje?</p>
      <p>Para ofrecer un viaje debes tener una cuenta registrada en el sistema, después de iniciar sesión selecciona la opción Crear Viaje, completa los
        datos solicitados y listo.
      </p>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>