<div class="col-md-12 ml-auto mr-auto">
  <div class="row">
    <div class="col-md-2">
      <div>
        <img src="" alt="Circle Image" class="img-circle img-responsive" style="width: 20vw; transition: .5s ease;" (error)="img.src = '../assets/img/anonym-bw.png'"
          #img>
      </div>
    </div>
    <div class="col-md-2">
      Usuario:
    </div>
    <div class="col-md-6">
      Puntaje: Neutro, Positivo o Negativo
    </div>
    <div class="col-md-2">
      <p>Comentario:</p>

    </div>

  </div>
</div>
<div class="cont-line">
  <span class="line"></span>
</div>