<div class="col-md-12 ml-auto mr-auto">
  <div class="row">
    <div class="col-md-2">
      <div>
        <img src="{{calificacion.usuarioPuntuador.fotoPerfil}}" alt="" class="img-thumbnail img-responsive" style="width: 5vw" (error)="img.src = '../assets/img/anonym-bw.png'"
          #img>
      </div>
    </div>
    <div class="col-md-2">
      <div class="rosa" style="margin-top:15%">{{calificacion.usuarioPuntuador.nombre}} {{calificacion.usuarioPuntuador.apellido}}</div>
    </div>
    <div class="col-md-6">
        <div style="margin-top:4%;">{{calificacion.comentario}}</div>
    </div>
    <div class="col-md-2">
      <div [ngClass]="{ 'text-info': calificacion.puntuacion.descripcion === 'Penalizacion', 'text-danger': calificacion.puntuacion.descripcion === 'Negativa'
                      , 'text-success': calificacion.puntuacion.descripcion === 'Positiva', 'text-primary': calificacion.puntuacion.descripcion === 'Neutra' }" 
        style="margin-top:15%">{{calificacion.puntuacion.descripcion}}</div>
    </div>

  </div>
</div>
<div class="cont-line">
  <span class="line"></span>
</div>