<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Editar</h2>
        </div>
      </div>
      <br />
      <br />

      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <tabset #editarTabs [justified]="true">

            <tab (select)="show($event)">
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Datos personales</span>
              </ng-template>
              <app-editarperfil></app-editarperfil>
            </tab>

            <tab (select)="show($event)">
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Cambiar contraseña</span>
              </ng-template>
              <app-cambiarcontrasenia></app-cambiarcontrasenia>
            </tab>

            <tab (select)="show($event)">
              <ng-template tabHeading>
                <span class="tab-link hover-rosa">Borrar cuenta</span>
              </ng-template>
              <app-borrarcuenta></app-borrarcuenta>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>