<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/home.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <br>
        
      </div>

    </div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h2>Listado de viajes</h2>
        </div>
      </div>
      <br />
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <div class="row">
            <h2 class="text-danger"></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>