<form class="contact100-form validate-form flex-sb flex-w" name="form" (ngSubmit)="f.form.valid && validarFecha() && register() && releaseCtrl()"
    #f="ngForm" novalidate>

    <div class="wrap-input100 rs1 validate-input">
        <select class="input100" name="tipoTarjeta" [(ngModel)]="tarjeta.tipo" #tipoTarjeta="ngModel" [ngClass]="{ 'has-danger': f.submitted && !tipoTarjeta.valid }"
            required>
            <option *ngFor="let tipo of tiposTarjetas" [ngValue]="tipo.id">{{tipo.descripcion}}</option>
        </select>
        <span class="focus-input100"></span>
        <span *ngIf="!tipoTarjeta.valid" class="focus-input-label">Tipo de tarjeta</span>
    </div>

    <div class="wrap-input100 rs1 validate-input">
        <select class="input100" name="banco" [(ngModel)]="tarjeta.banco" #banco="ngModel" [ngClass]="{ 'has-danger': f.submitted && !banco.valid }"
            required>
            <option *ngFor="let banco of bancos" [value]="banco.id">{{banco.descripcion}}</option>
        </select>
        <span class="focus-input100"></span>
        <span *ngIf="!banco.valid" class="focus-input-label">Banco emisor</span>
    </div>


    <div class="wrap-input100 rs1 validate-input">
        <input class="input100" type="number" name="numero" placeholder="Numero de tarjeta de credito" [(ngModel)]="tarjeta.numeroTarjeta"
            #numeroTarjeta="ngModel" [ngClass]="{ 'has-danger': f.submitted && !numeroTarjeta.valid }" required>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 rs1 validate-input">
        <input class="input100" type="text" name="nombreTitular" placeholder="Nombre y apellido del titular" [(ngModel)]="tarjeta.nombreTitular"
            #nombreTitular="ngModel" [ngClass]="{ 'has-danger': f.submitted && !nombreTitular.valid }" required>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 rs1 validate-input">
        <input class="input100" type="month" name="fechaV" [(ngModel)]="tarjeta.fechaVencimiento" #fechaV="ngModel" [ngClass]="{ 'has-danger': f.submitted && (!fechaV.valid || !validarFecha()) }"
            required>
        <span class="focus-input100"></span>
        <span *ngIf="!fechaV.valid" class="focus-input-label">Fecha de vencimiento</span>
    </div>


    <div *ngIf="f.submitted && (!tipoTarjeta.valid || !banco.valid || !numeroTarjeta.valid || !nombreTitular.valid || !fechaV.valid)"
        class="form-control-feedback">
        Por favor, rellene todos los campos.
    </div>
    <div *ngIf="f.submitted && !validarFecha()"
        class="form-control-feedback">
        La fecha de vencimiento es invalida.
    </div>

    <div class="container-contact100-form-btn">
        <button type="submit" class="contact100-form-btn" style="margin-right: 2%">
            Guardar
        </button>
    </div>
</form>