<footer class="footer">
    <div class="container">
        <div class="row separador-abajo">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a class="nav-link" rel="tooltip" title="Seguinos en Twitter" data-placement="bottom" href="https://twitter.com" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none">Twitter</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" rel="tooltip" title="Seguinos en Facebook" data-placement="bottom" href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none">Facebook</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" rel="tooltip" title="Seguinos en Instagram" data-placement="bottom" href="https://www.instagram.com" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none">Instagram</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row copyright">
            Copyright Un Aventon. Todos los derechos reservados. Web desarrollada por GMAsoft
        </div>
    </div>
</footer>
